@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-image: url(../img/bg3.png);
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-color: rgb(40, 185, 62);
}

.container {
    margin-top: 50px;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
